<!-- What is TED/TEDx? -->
<header angly-header *ngIf="navbarVisible"></header>
<div class="about-section py-6">
      <div class="container-fluid">
        <h3>About Iraklia and The Small Cyclades View</h3>
        <img src="assets/img/2Photo.JPG" class="about-img">

        <p style="max-width: 500px">This summer villa is located at the island Iraklia,
         one out of the seven islands that make up the Small Cyclades in the Aegean Sea. Iraklia is known for its privacy and is a quiet island with a great natural environment and wonderful beaches. It is in the heart of the Aegean Sea, conveniently situated near the well-known island Naxos as well as other small islands such as Koufonisia, which can be reached with a boat or daily ferries.
        Iraklia is the largest but least populated island of the Small Cyclades,
         with around 150 permanent inhabitants spread in two settlements: Panagia or Hora, and Agios Georgios. One can reach the island from the port of Piraeus three times a week, or daily from the port of Naxos. For those interested we can also organize a transition via helicopter directly to the villa.
          The relative lack of traffic and its largely pristine natural environment, as it is part of the Natura 2000 network, are the island’s most valuable features. 
          Iraklia is especially quiet, even during the busy tourist season, and therefore is an ideal place for anyone seeking tranquility. At Iraklia one can enjoy superb views of neighboring islands and mountains, go on hikes, take a boat to the remote beaches and nearby islands, and of course enjoy local Greek cuisine at taverns which offer daily fresh seafood.
        This 420 sq.m. villa is located 300 m. outside of the village Agios Georgios,
         and is at the corner of the Livadi Gulf, where the most beautiful sandy beach of the island lays. Nearly 5 minutes walk from the villa,
          the beach is easily accessible by foot and car. The villa is built following the traditional Cycladic architecture, and is isolated with no other houses or lodges nearby, which means privacy and quietness are key benefits of the location. However, in our opinion, what makes this villa special is the indisputably stunning view of the other islands of the Small Cyclades and the Aegean.
        The breathtaking view can be enjoyed from all rooms and surely from the 550 sq.m. beautiful veranda where you can also enjoy your breakfast,
         lunch or dinner on a big wooden table, sunbath on one of the deck chairs or even organize your own barbeque.
          The villa has a total of 8 bedrooms, all having their own bathroom, air conditioning and a TV, and can accommodate a total of 18 people.
        Four of the bedrooms (1 with double bed, 1 with 2 single beds and 2 single-bed rooms) are in the central residence which also consists of a living room, a guest wc and a fully equipped kitchen with cookware,
         microwave, washing machine etc. The other four bedrooms are autonomous guest suites right next to the central residence. Each of them has its own bathroom, air conditioning and a small kitchen. Two of them can accommodate 4 people and the rest can accommodate 2 people. The large number of bedrooms as well as the autonomous nature of the guest suites makes this villa great for groups of families with friends and/or service staff.
        We would be happy to accommodate you and offer our suggestions on restaurants,
         beaches and other activities you can enjoy on the island. Also, our cleaning services will clean the villa every three days free of charge.</p>
        <p>*The minimum stay is 6 nights</p> <br>
        You can also find us on <a href="https://www.homeaway.co.uk/p6521644?arrival=2020-08-06&departure=2020-08-13">Homeaway</a> and on <a href="https://www.airbnb.gr/rooms/12188295?source_impression_id=p3_1580044160_jE731gPGbzwlHpaV">Airbnb</a>.
        <br>

        <a href="https://www.homeaway.co.uk/p6521644?arrival=2020-08-06&departure=2020-08-13"><img src="assets/img/homeaway-logo.PNG" style="width: 212px;"></a>
        <a href="https://www.airbnb.gr/rooms/12188295?source_impression_id=p3_1580044160_jE731gPGbzwlHpaV"><img src="assets/img/airbnb-logo.JPG" style="height: 107px; margin-left: 60px;"></a>
      </div> 
  </div>

