<header angly-header></header>
<div class="contact-widget section-gap contact-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3 text-center">
				<div class="contact-icon mb-4">
					<i class="fa fa-user-o light-blue fa-3x"></i>
				</div>
				<h4 class="light-blue mb-3"> Name </h4>
				<h5>
					Konstantinos Gkoumas
				</h5>
	      	</div>
	      	<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3 text-center">
				<div class="contact-icon mb-4">
					<i class="fa fa-phone light-blue fa-3x"></i>
				</div>
				<h4 class="light-blue mb-3"> Call Us </h4>
				<h5>
					<a class="text-dark" href="tel:{{+306937480660}}">+306937480660</a><br>
					<a class="text-dark" href="tel:{{+306944435373}}">+306944435373</a>
				</h5>
	      	</div>
			<div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 mb-3 text-center">
				<div class="contact-icon mb-4">
				<i class="fa fa-envelope-o light-blue fa-3x"></i>
				</div>
				<h4 class="light-blue mb-3"> Send Us Mail </h4>
				<h6>
					<a class="text-dark" href="mailto:thesmallcycladesview@gmail.com">thesmallcycladesview@gmail.com</a>
				</h6>
				
			</div>

	   </div>
	</div>
</div>
<div class="contact-info">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<img width="870" height="600" [src]="map">   
				<!-- <angly-map width="650" height="600"></angly-map> -->
			</div>
			<!-- <div class="col-sm-12 col-md-12 col-lg-5">
				<div angly-sendMessage></div>
			 </div> -->
		 </div>
	</div>
</div>
<div class="follow-us text-center section-gap">
	<div class="container">
		<div class="mb-5">
			<h4>Located in the island of Iraklia</h4>
		</div>
	</div>
</div>