.navbar {
    border-bottom: 1px solid #47afef;
    background-color: black;
    padding: 10px;
}
.list-unstyled, .navbar-nav, .nav-item, .nav-link:hover {
    color: #47afef !important;
}
.img-fluid {
    width: 520px;
}

.navbar-transparent {
    // TODO: add this class to navbar when it appears on homepage
    border-bottom: none;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0) ), 
}
@media (max-width: 767px) { //Change color of mobile drop-down menu
    .main-menu > li {
        border-bottom: none;
    }
    .navbar-nav, .ml-auto, .main-menu .list-unstyled {
        background-color: black;
    }
}