<div #scrollContainer class="over-scroll" (scroll)="onScroll($event)" [ngClass]="{'fixed-header' : fixedHeaderClass}">
<header angly-header *ngIf="navbarVisible"></header>

<div *ngIf="router?.url == '/home'" class="site-banner">
    <div class="banner-wrapper primary-layer">
        <div class="banner-inner" style="z-index: 1; width: 700px;">
            <div class="banner-content container text-center container-full-width">
                    <!-- <h2 class="display-3 text-white pre-event">#ThePreEvent2019 is here!</h2> -->
                <h2 class="display-3 fw-200 mb-4 text-white text-capitalize">
                    <div class="d-title">
                        Switch
                        <span>Perspective</span>
                        <span>Perception</span>
                    </div>
                </h2>
                <!-- <h4 class="text-white">Build something incredible!</h4> -->
                <h5 class="text-white d-flex flex-column">
                    <span class="mb-2"><i class="fas fa-calendar-alt"></i> May 18, 2019</span>
                    <span class="mb-2"><i class="fas fa-clock"></i> 10:00</span>
                    <a (click)="scrollToMap()"><span class="mb-2" style="color: white"><i class="fas fa-map-marker-alt"></i> Michael Cacoyannis Foundation</span></a>
                </h5>
                <!-- <button class="btn btn-lg btn-outline-light mr-3 mb-3 px-4 py-2 btn-chk inverse" (click)="onLearnMoreClicked()">
                     Learn More
                </button> -->
                <a class="btn btn-lg btn-outline-light mb-3 px-4 py-2 btn-chk" href="https://www.youtube.com/watch?v=2iYIgImAStE" target="__blank">
                     Watch the talks
                </a>
            </div>
        </div>
        <div id="particlesContainer" style="width: 100vw; height: 100vh; z-index: 0"></div>
    </div>
</div>

<!-- All page title get -->
<!-- <div class="section-heading section-gap bg-light" *ngIf="router?.url != '/home' && router?.url != '/blog-sidebar' && router?.url != '/blog-no-sidebar' && router?.url != '/login' && router?.url != '/sign-up' && router?.url != '/thank-you' && router?.url != '/not-found' && router?.url != '/maintenance' && router?.url != '/blog-detail' ">
    <div class="text-center">
        <div class="container">
            <h1 class="mb-3">{{headerTitle}}</h1>
            <p class="lead">{{headerSubTitle}}</p>
        </div>
    </div>
</div> -->
<div class="angly-base-container">
  <div class="inner-container">
		<router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
  </div>
</div>
<!-- <footer angly-footer></footer> -->
<footer angly-footer2></footer>
</div>
