<teams-list-item name="Managers Team" description="Describe what this team does in one or two lines" [members]="managers"></teams-list-item>
<teams-list-item name="Marketing Team" description="Describe what this team does in one or two lines" [members]="marketing"></teams-list-item>
<teams-list-item name="Digital Team" description="Describe what this team does in one or two lines" [members]="digital"></teams-list-item>
<teams-list-item name="Experience Team" description="Describe what this team does in one or two lines" [members]="experience"></teams-list-item>
<teams-list-item name="Partnerships Team" description="Describe what this team does in one or two lines" [members]="sponsorships"></teams-list-item>
<teams-list-item name="Production Team" description="Describe what this team does in one or two lines" [members]="production"></teams-list-item>
