.countdown-container {
    font-size: 12px;
    color: white;
    max-width: 900px;
    margin: 0 auto;
}

.days-container,
.hours-container,
.minutes-container,
.seconds-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #47afef; // $tedxRed
    border: 5px solid #47afef; // $tedxRed
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.days,
.hours,
.minutes,
.seconds {
    font-size: 2.5em;
    margin: 0.01em 0;
}

.days-label,
.hours-label,
.minutes-label,
.seconds-label {
    text-transform: uppercase;
    margin-bottom: 5px;
}

@media (max-width: 800px) {

    .days-container,
    .hours-container,
    .minutes-container,
    .seconds-container {
        // font-size: 0.8em;
        width: 20vw;
        height: 20vw;
        min-width: 92px;
        min-height: 92px;
    }
}

@media (max-width: 500px) { 
    .days,
    .hours,
    .minutes,
    .seconds {
        font-size: 2em;
    }
}

@media (max-width: 400px) { 
    .days-container,
    .hours-container,
    .minutes-container,
    .seconds-container {
        margin: 10px;
    }
}

