<section class="countdown-container d-flex justify-content-around align-items-center flex-wrap py-5">

    <div class="days-container">
        <div #days class="days"></div>
        <div class="days-label">Days</div>
    </div>

    <div class="hours-container">
        <div #hours class="hours"></div>
        <div class="hours-label">Hours</div>
    </div>


    <div class="minutes-container">
        <div #minutes class="minutes"></div>
        <div class="minutes-label">Minutes</div>
    </div>

    <div class="seconds-container">
        <div #seconds class="seconds"></div>
        <div class="seconds-label">Seconds</div>
    </div>


</section>