<div *ngIf="router?.url != '/sign-up' && router?.url != '/login' && router?.url != '/thank-you' && router?.url != '/not-found' && router?.url != '/maintenance'">
   <!-- Footer section 2 -->
   <div *ngIf="router?.url != '/home'" angly-subscribe [subscribeFormClasses]="subscribeFormClasses"></div>
   <!-- <div angly-footerLogoList [logoList]="footerLogo" class="client-logo"></div> -->
   <div class="footer-wrapper-2 pt-5 pb-0 pb-md-5 bg-light">
      <div class="container container-full-width">
         <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
               <img src="../../assets/img/papei.png" class="papei_logo">
            </div>
         </div>
         <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center flex-md-row justify-content-md-between">
               <span class="text-muted">&copy; 2019, All right reserved | This independently organized TEDx event is operated under license from TED. </span>
               <div class="social-without-bg text-right">
                  <ul class="list-inline mb-0">
                     <li class="list-inline-item"><a target="__blank" href="https://www.facebook.com/TEDxUniversityofPiraeus/"><i class="fab fa-facebook-f "></i></a></li>
                     <li class="list-inline-item"><a target="__blank" href="https://www.flickr.com/photos/tedxuniversityofpiraeus/"><i class="fab fa-flickr"></i></a></li>
                     <li class="list-inline-item"><a target="__blank" href="https://www.youtube.com/channel/UCe-Ek8O9ewzYKakhbCglxNw"><i class="fab fa-youtube"></i></a></li>
                     <li class="list-inline-item"><a target="__blank" href="https://www.linkedin.com/company/tedxuniversityofpiraeus/"><i class="fab fa-linkedin"></i></a></li>
                     <li class="list-inline-item"><a target="__blank" href="https://www.instagram.com/tedxuniversityofpiraeus/"><i class="fab fa-instagram"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div><!-- container closed -->
   </div><!-- Footer wrapper closed -->
   <!-- Back To Top -->
   <a href="#" id="back-top" class="to-top scrolled" (click)="topScroll($event)"> <span class="to-top-icon"></span> </a>
</div>
